## Exercise 1

![title](zad1.png)

In [1]:
import pandas as pd

## Exercise 2

In [2]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Saturday', 'Sunday']

bitcoin_value = [214379, 206747, 208739, 192409, 183614,
                185663, 174585]

In [3]:
series = pd.Series(data=bitcoin_value, index=days)

In [4]:
series

Monday       214379
Tuesday      206747
Wednesday    208739
Thursday     192409
Friday       183614
Saturday     185663
Sunday       174585
dtype: int64

In [5]:
series.index

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='object')

## Exercise 3

In [6]:
# Use periodic table from lab 2
pt = [(1,"Hydrogen","H",1), (2,"Helium","He",4), (3,"Lithium","Li",7), (4,"Beryllium","Be",9),
      (5,"Boron","B",11), (6,"Carbon","C",12), (7,"Nitrogen","N",14), (8,"Oxygen","O",16),
     (9,"Fluorine","F",19), (10,"Neon","Ne",20)]

In [7]:
df = pd.DataFrame(pt, columns=['index', 'Name', 'Symbol', 'Weight'])
df.set_index('index', inplace=True)
df.index.name=None

In [8]:
df

         Name Symbol  Weight
1    Hydrogen      H       1
2      Helium     He       4
3     Lithium     Li       7
4   Beryllium     Be       9
5       Boron      B      11
6      Carbon      C      12
7    Nitrogen      N      14
8      Oxygen      O      16
9    Fluorine      F      19
10       Neon     Ne      20